@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

main {
  font-family: 'PT Sans', sans-serif;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'PT Sans', sans-serif;
}

.h3-header {
  background-color: rgb(121, 159, 234);
  height: 3rem;
  margin-top: 0;
  padding-top: 1.5rem;
}